html {
    scroll-behavior: smooth;
}

h2 {
    border-left: 5px solid rebeccapurple;
    padding-left: 10px;
    color: #00E676;
}

.header {
    height: 100vh;
    background-image: url("https://media.giphy.com/media/3o7bu9zwfieCd1R9HG/source.gif");
    background-size: cover;
    background-attachment: fixed;
}

.about img {
    max-width: 225px;
}

.knowledge {
    background-color: rgb(243, 243, 243);
}

.knowledge figure img {
    max-width: 175px;
}

.knowledge figcaption {
    font-size: 1.5rem;
}

.knowledge .card img {
    height: 215px;
}

/*My Work 5*/
.work-card{
    margin-top:20px;
}

.work-card .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.work-card .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
    height: 160px;
}
.work-card h5{
    color:#4E5E30;
    font-weight:600;
}
.work-card p{
    font-size:14px;
    font-weight:300;
}
.work-card .btn-primary{
    background-color:#00E676;
    border-color:#00be62;
}

.work-card .btn-primary:hover {
    opacity: .8;
}

.contact {
    background-color: rgb(243, 243, 243);
}

.contact .btn-primary {
    background-color: #00E676;
    border-color:#00be62;
}

.contact .btn-primary:hover {
    opacity: .8;
}


/* Footer */
.footer {
    background: #111;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    text-decoration: none;
    color: #00E676;
}

