html {
    scroll-behavior: smooth;
}

.header h1 {
    border-left: 5px solid #00E676;
    padding-left: 10px;
}

.header {
    height: 100vh;
    background-image: url("https://media.giphy.com/media/3o7bu9zwfieCd1R9HG/source.gif");
    background-size: cover;
    background-attachment: fixed;
}

.about h2 {
    border-left: 5px solid rebeccapurple;
    padding-left: 10px;
    color: #00E676;
}

.about .kenny-gif {
    max-width: 225px;
}

.learning h2 {
    border-left: 5px solid rebeccapurple;
    padding-left: 10px;
    color: #00E676;
}

.learning figure img {
    max-width: 175px;
}

.learning figcaption {
    font-size: 1.5rem;
}

.learning .card img {
    height: 215px;
}

.contact h2 {
    border-left: 5px solid rebeccapurple;
    padding-left: 10px;
    color: #00E676;
}

.contact .fa-envelope {
    font-size: 100px;
    color: #000;
    transition: all 0.3;
}

.contact .fa-envelope:hover {
    color: tomato;
    transform: scale(1.1);
    text-decoration: none;
}

/* Footer */
.footer {
    background: rebeccapurple;
}

.footer a {
    color: #fff;
}